.cv-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
  }
  
  .cv-image {
    max-width: 80%; /* Ajusta el ancho de la imagen según sea necesario */
    max-height: 80vh; /* Ajusta la altura máxima según sea necesario */
    border-radius: 8px; /* Añade un borde redondeado a la imagen si lo deseas */
  }